{% extends "Main_app/base.html"%}
{% block content%}
    <h1 style="text-align: center;">Who we are what we do</h1>
<body>
    <div class="container"></div>
        <div class='row'>
            <div class ='col-sm-4'>
                <div class='placeBox'>
                    <div class='imgBx '>
                        <img src="" alt="img fluid">
                    </div>
                    <div class='content'>
                        <h3> Name <br><span>Position</span></h3>
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Read More
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content%}
