{% extends "Main_app/base.html"%}
{% block content%}

<header>
    <div class='jumbotron jumbotron-fluid height25p banner' style=" background-color: #fa53058f; !important">
        <div class='container 10p'>
            <div class='contentBox h10 text-center'>
                <div>
                    <h1>MetaDPI WebServer</h1>
                    <p class='text-center'>
                        Meet The Team
                    </p>
                </div>
            </div>
        </div>

    </div>
</header>
<body>
    

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">       
            <img src="https://github.com/eved1018/django-projects/blob/master/Meta_DPi_Server/Main_app/images/Main_app/Rajiimage.jpg?raw=true" class="card-img-top-responsive" alt="..." >
          <div class="card-body text-center"> 
            <h5 class="card-title mb-0">Dr. Raji Viswanathan </h5>
            <div class="card-text text-black-50 ">Co-Chair, Department of Chemistry</div>
            <!-- <p> -->
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" data-toggle-secondary="Read Less" aria-expanded="true" aria-controls="collapseExample1"> Read More</button> 
              <!-- </p> -->
              <div class="collapse" id="collapseExample1" >
                <div class="card card-body " >
                    Dr. Raji Viswanathan is a professor of Chemistry. She joined Yeshiva College as an assistant professor of chemistry after postdoctoral fellowships at Rice University and Princeton University. She also served as the Associate Dean of Academic Affairs of Yeshiva College from 2009 - 2013.
                    
                </div>
            </div>
            
            
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://github.com/eved1018/django-projects/blob/master/Meta_DPi_Server/Main_app/images/Main_app/WhatsApp%20Image%202019-12-05%20at%2010.44.51%20PM.jpeg?raw=true" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Mordichia Walder</h5>
            <div class="card-text text-black-50">Graduate Researcher</div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                  Read More
                </button>
              </p>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://github.com/eved1018/django-projects/blob/master/Meta_DPi_Server/Main_app/images/Main_app/IMG_9367.JPG?raw=true" class="card-img-top-responsive" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Evan Edelstein </h5>
            <div class="card-text text-black-50">Student Researcher</div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                  Read More
                </button>
              </p>
              <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Shahar Lazerev</h5>
            <div class="card-text text-black-50">Student Researcher</div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                  Read More
                </button>
              </p>
              <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
</body>


{% endblock content%}
