{% extends "Main_app/base.html" %}
{% block content%}
<header>
    <div class='jumbotron jumbotron-fluid height25p banner' style="background:transparent !important">
        <div class='container 10p'>
            <div class='contentBox h10 text-center'>
                <div>
                    <h1>MetaDPI WebServer</h1>
                    <p class='text-center'>
                      Meta-DPI is a protein interface prediction program, that combines three prediction algorithms (Dockpred, Ispred4, and Predus) to more accurately predict protein interfaces.
                    </p>
                </div>
            </div>
        </div>

    </div>
</header>
    <div class="container">
        <div class="row ">
            <div class='col-md-2'>
                <h3 class='text-center'>Refrences</h3>
                <br>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Predus:</h5>
                  <p class="card-text">l short description </p>
                  <a href="https://honiglab.c2b2.columbia.edu/PredUs/index_omega.html" class="card-link">Predus</a>
                </div>
              </div></div>
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Ispred:</h5>
                  <p class="card-text">short description </p>
                  <a href="https://ispred4.biocomp.unibo.it/welcome/default/index" class="card-link">Ispred</a>
                </div>
              </div></div>
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dockpred:</h5>
                  <p class="card-text"> short description </p>
                  <a href="" class="card-link">Dockpred</a>
                </div></div>




{% endblock content%}
