body {
    background: #fafafa;
    color: #333333;
    padding: 10px 20px;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #2ea4b8;
    
  }
  
  .site-header .navbar-nav .nav-link {
    color: #fa5405;
  }
  
  .site-header .navbar-nav .nav-link:hover  {
    color: #043464;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  .btn-primary {
    background-color: #fa5405;
  }
  .btn-primary:hover{
    background-color: #043464
  }
  .form-inline {
    background: #fafafa;
    color: #333333;
    padding: 10px 20px;
    margin-top: 5rem;
  }