body {
    background: #fafafa;
    color: #333333;
    padding: 10px 20px;
    margin-top: 5rem;
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #2ea4b8;
    
  }
    
  .site-header .navbar-nav .nav-link {
    color: #fa5405;
  }
  
  .site-header .navbar-nav .nav-link:hover  {
    color: #043464;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  .btn-primary  {
    background-color: #fa5405; 
    outline-color: #fa5405;
    border-color: #fa5405 ;
  }
  .btn-primary:hover{
    background-color: #043464
  }
  .form-inline {
    background: #fafafa;
    color: #333333;
    padding: 5px 10px;
    margin-top: 5rem;
   
  }
  .container {
    height: 100%;
    display: absolute;
   
  }
    form {
    position: relative;
    justify-items: center;

   } 
   .LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color:white;
    vertical-align:bottom;
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("../Common/loadingGIF.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
  
